.header-dropmenu-div{
  border-top: 0px;
}
.navbar-nav .dropdown-menu{
  position: absolute;
}
.sidebar-toggler-nav{
  color: #fff;
}
.main .container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}





