  <div class='header' *ngIf="userInfo">
    <span class='col_fade'> {{headerLabel}}</span>
  </div>
  <div class='inner' *ngIf="userInfo">
    <div class='user_card'>
      <div>
        <a class='user_avatar' href="{{userInfo.loginname}}">
          <img [src]="userInfo.avatar" title="{{userInfo.loginname}}"/>
        </a>
        <span class='user_name'><a class='dark' href="/user/{{userInfo.loginname}}">{{userInfo.loginname}}</a></span>

        <div class='board clearfix'>
          <div class='floor'>
            <span class='big'>积分: {{userInfo.score}} </span>
          </div>
        </div>
        <div class="space clearfix"></div>
        <span class="signature">
        {{(userInfo && userInfo.signature)? userInfo.signature : '这家伙很懒，什么个性签名都没有留下。'}}
    </span>
      </div>
    </div>

  </div>
