<div class='panel'>
  <div class='inner'>
  <!--  <ol class="friendship-community">
      <li>
        <a href="https://ruby-china.org/" target="_blank">
          <img src="images/ruby-china-20150529.png">
        </a>
      </li>
      <div class="sep10"></div>
      <li>
        <a href="http://golangtc.com/" target="_blank">
          <img src="images/golangtc-logo.png">
        </a>
      </li>
      <div class="sep10"></div>
      <li>
        <a href="http://phphub.org/" target="_blank">
          <img src="images/phphub-logo.png">
        </a>
      </li>
    </ol>-->
  </div>
</div>
