<div  *ngIf="messages && messages.length>0" >
  <div *ngFor="let message of messages">
    <div   class="cell {{!message.has_read ? 'message' : ''}}" >
      <span *ngIf="message.type == 'reply'">
          <a routerLink="//user/information/{{message.author.loginname}}" >{{message.author.loginname}}</a>
          回复了你的话题
          <a routerLink="//topic/detail/{{message.topic.id}}" >
          {{message.topic.title}}</a>
		  </span>
      <span *ngIf="message.type == 'reply2'">
          <a routerLink="//user/information/{{message.author.loginname}}"  >{{message.author.loginname }}</a>
          在话题
          <a routerLink="//topic/detail/{{message.topic.id}}" >{{message.topic.title}}</a>
          中回复了你的回复
		  </span>
      <span *ngIf="message.type == 'follow'">
		      <a routerLink="//user/information/{{message.author.loginname}}" >{{message.author.loginname}}</a>
		      关注了你
	    </span>
      <span *ngIf="message.type == 'at'">
			    <a routerLink="//user/information/{{message.author.loginname}}" >{{message.author.loginname}}</a>
			    在话题
			    <a routerLink="//user/information/{{message.author.loginname}}" >{{message.topic.title}}</a>中@了你
		  </span>
  </div>
  </div>
</div>
